Source: mirthless
Section: metapackages
Priority: extra
Maintainer: Ometa <oracle@ometa.org>
Build-Depends: debhelper (>= 5) , python-nose
Standards-Version: 3.7.2

Package: mirthless
Architecture: any
Depends: python, python-yaml, python-pygame
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
